{$SITE_DOMAIN:http://localhost} {
    root * /srv
    encode gzip zstd

    handle /api/* {
        reverse_proxy backend:3000
    }

    handle /socket.io/* {
        reverse_proxy backend:3000
    }

    handle /uploads/* {
        reverse_proxy backend:3000
    }

    handle /media/* {
        reverse_proxy backend:3000
    }

    file_server
    try_files {path} /index.html
}
